*, *:before, *:after {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    outline: none;
    font-style: normal;
}

body {
    margin: 0;
}

a {
    transition: color .4s ease;
}

a, a:hover, a:focus, a:visited {
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 23px;
    background-color: transparent;
    transition: background-color .4s ease;
    line-height: 21px;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.button:hover {
    background-color: #293F2C;
}

.button:after {
    content: '';
    display: block;
    top: 0;
    right: 0;
    width: 18px;
    height: 15px;
    border: 1px solid #BDA269;
    border-left-width: 0;
    border-bottom-width: 0;
    z-index: 0;
    position: absolute;
}

.button-borders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.button-borders:before {
    content: '';
    display: block;
    position: absolute;
}

.button-borders:after {
    content: '';
    display: block;
    position: absolute;
}

.button-borders.-horizontal:before{
    height: 100%;
    width: 18px;
    background: transparent;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    border-right-width: 0;
    border-left-width: 0;
}
.button-borders.-horizontal:after{
    height: 100%;
    width: 18px;
    background: transparent;
    top: 0;
    right: 0;
    border: 1px solid #fff;
    border-right-width: 0;
    border-left-width: 0;
}

.button-borders.-vertical:before{
    width: 100%;
    height: 15px;
    background: transparent;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    border-top-width: 0;
    border-bottom-width: 0;
}
.button-borders.-vertical:after{
    width: 100%;
    height: 15px;
    background: transparent;
    bottom: 0;
    left: 0;
    border: 1px solid #fff;
    border-top-width: 0;
    border-bottom-width: 0;
}

.main-page-banner {
    height: 970px;
    background-color: #060606;
}

.menu {
    width: 280px;
    background-color: #020202;
    position: relative;
    background-position: -75px top;
    background-size: initial;
    background-repeat: no-repeat;
    background-image: url("/assets/menu-background.jpg");
    padding-top: 65px;
}

.menu-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    padding-bottom: 27px;
}

.menu-footer-info {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #AAA8AB;
}

.menu-footer-info-row {
    line-height: 18px;
    margin-bottom: 1.4px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 43px;
}

.social-button {
    display: block;
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
    margin: 0 10px;
    background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
}

.social-button.-instagram {
    background-image: url("/assets/icons/Instagram.svg");
}

.social-button.-facebook {
    background-image: url("/assets/icons/Facebook.svg");
}

.menu.fixed {
    position: fixed;
    left: 0;
    transform: translateX(-280px);
    transition: transform .4s ease;
}

.menu.fixed.opened {
    transform: translateX(0);
}

.menu-content {
    width: 100%;
    height: 100%;
    text-align: center;
}

.menu-links {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    padding-left: 75px;
    text-align: left;
}

.menu-link-li {
    display: block;
}

.menu-link {
    line-height: 21px;
    color: #BCB4A3;
    padding: 12px 0;
    display: block;
}

.menu-link:hover {
    color: #BDA269;
}

.menu-logo {
    max-width: 100%;
    display: block;
    margin: 0 auto 58px;
}

.flex-block {
    display: flex;
}

.flex-block .menu {
    flex: 0 0 280px;
}

.flex-block-content {
    flex: 1 1 0;
    position: relative;
}

.contacts-block {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
}

.contacts-block-phone {
    background: #293F2C;
    display: flex;
    align-items: center;
    padding: 0 36px;
    font-family: Room, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
}

.choose-flat-button {
    margin-bottom: 30px;
}

.contacts-block-mail {
    display: block;
    width: 68px;
    height: 68px;
    background: #BDA269 url("/assets/icons/005-email.svg") no-repeat center;
    background-size: 35px;
}
.phone-block{
    position: absolute;
    right: 18px;
    bottom: 25px;
}
.phone-block-button{
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #BDA269 url("/assets/icons/008-phone-call.svg") no-repeat center;
    background-size: 30px;
}

.main-page-banner .splide__pagination{
    position: absolute;
    width: 100%;
    top: 26px;
    left: 0;
}
.main-page-banner .splide__pagination li{
    width: 86px;
    margin-right: 9px;
    height: 3px;
    position: relative;
    overflow: hidden;
    padding-right: 86px;
}
.main-page-banner .splide__pagination li:after{
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    z-index: 1;
    border: 1px solid #293F2C;
    border-left-width: 0;
    border-right: none;
}
.main-page-banner .splide__pagination li:last-child{
    margin-right: 0;
}
.main-page-banner .splide__pagination button{
    width: 100%;
    height: 3px;
    border: 1px solid #fff;
    border-left-width: 0;
    border-right-width: 0;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
@media (max-width: 1500px) {
    .menu {
        padding-top: 30px;
    }

    .menu-logo {
        margin-bottom: 30px;
    }

    .choose-flat-button {
        margin-bottom: 20px;
    }

    .social-buttons {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .menu {
        width: 100%
    }
}